<div class="container">
  <h1>Todo Lists</h1>
  
  <ul class="todo-list">
    <% @todo_lists.each do |list| %>
      <li id="<%= dom_id(list) %>">
        <%= link_to list.name, todo_list_path(list) %>
        <%= button_to todo_list_path(list),
                      method: :delete,
                      form: { data: { turbo_confirm: "Are you sure you want to delete this list?" } },
                      class: "btn btn-link delete-list-button",
                      title: "Delete list" do %>
         <i class="fa-solid fa-trash" style="font-family: 'Font Awesome 6 Free'; font-weight: 900; font-size: 20px;"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h2>New Todo List</h2>

  <%= form_with(model: @todo_list, local: true, html: { class: 'new-todo' }) do |form| %>
    <%= form.text_field :name, placeholder: "Enter list name" %>
    <%= form.submit "Create" %>
  <% end %>
</div>
