<!DOCTYPE html>
<html>
  <head>
    <title>RailsInterview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-papf8eQ3kFkx4p8l7i7TjAkkf9sXxyxZOdj9fwjqA6h/AtJXY2LidELB/NV4Eh3tr8Qzfl+MkQdLGRGcX1pF7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <%= render "shared/flash" %>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const flashContainer = document.getElementById('flash-messages');
        if (!flashContainer) return;

        setTimeout(() => {
          flashContainer.classList.remove('flash-hide');
          flashContainer.classList.add('flash-show');
        }, 50);

        setTimeout(() => {
          flashContainer.classList.remove('flash-show');
          flashContainer.classList.add('flash-hide');

          flashContainer.addEventListener('transitionend', () => {
            flashContainer.innerHTML = '';
          }, { once: true });
        }, 2000);
      });
    </script>
  </body>
</html>
