<!DOCTYPE html>
<html>
  <head>
    <title>RailsInterview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-papf8eQ3kFkx4p8l7i7TjAkkf9sXxyxZOdj9fwjqA6h/AtJXY2LidELB/NV4Eh3tr8Qzfl+MkQdLGRGcX1pF7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <%= yield %>
    <% if notice %>
      <p class="flash notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="flash alert"><%= alert %></p>
    <% end %>
  </body>
</html>
